@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffd7b2;
}

header,
footer {
  background: linear-gradient(to bottom, #ef6c00, #e65100);
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover {
    & .arrow-btn {
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
    &:hover {
      width: 60px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.detailsButton,
.PostDetailPage button {
  background: linear-gradient(180deg, #ef6c00 0%, #e65100 100%);
}

.events-container article,
.about-card,
.content-container,
.postDetail {
  animation: fadeUp 1200ms forwards ease;
}

@keyframes fadeUp {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
